<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora - Divide</title>
    <style>
        a:link{
            color: hsl(228, 24%, 96%);
            text-decoration:underline;
        };
        a:visited {
            color: hsl(227, 95%, 29%);
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: rgb(58, 194, 87);">
    <h1 style=" color: hsl(230, 13%, 91%);">Calculadora Sencilla - Operacion Dividir</h1>
    <p>Los números son: {{ num1 }} y {{ num2 }}</p>
    <p>El resultado de la división es: {{ resultado }}</p>
    <p style=" color: rgb(8, 8, 8);"><a href=/><h2> Volver </h2></a></p>
</body>
</html>