<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link, a:visited {
        color: #0c247a;
        text-decoration: none;
    }
    </style>
</head>
<body style="background-color: rgb(34, 154, 187);">
    <h1 style=" color: rgb(0, 255, 191);"> Proyecto Aplicacion Web con Flask </h1>
    <h2>Calculadora Sencilla</h2>
    <p>Selecciona la operación que desees realizar:</p>
    <ul>
        <li style="color:blueviolet"><a style="text-decoration: none;" href="/suma?num1&num2">Opción para Sumar</a></li>
        <li><a href="/resta?num1&num2">Opción para Restar</a></li>
        <li><a href="/divide?num1&num2">Opción para Dividir</a></li>
        <li><a href="/multiplica?num1&num2">Opción para Multiplicar</a></li>
    </ul>
    <!--comentario-->
</body>
</html>