<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora - Resta</title>
    <style>
        a:link{
            color: hsl(227, 100%, 3%);
            text-decoration:underline;
        };
        a:visited {
            color: hsl(227, 95%, 29%);
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: rgb(150, 51, 145);">
    <h1 style=" color: hsl(227, 95%, 29%);">Calculadora Sencilla - Operacion Restar</h1>
    <p> <h2>Los números son: {{ num1 }} y {{ num2 }} </h2></p>
    <p>El resultado de la resta es: {{ resultado }}</p>
    <p style=" color: rgb(8, 8, 8);"><a href=/><h2> Volver </h2></a></p>
</body>
</html>